<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" href="/stylesheets/design.css">
    <title>Knowledge hub </title>
  </head>
  <body>
      <main>
          <div class="bnr-m">
              <img src="/images/img-ins/bnr.jpg" alt="" >
              <div class=ins-t>
                  <h1>ITS NOT THE DESTINATION</h1>
                  <h3>ITS THE JOURNEY THAT IS UNIFORM DISTRIBUTION OF DESTINATION </h3>
              </div>
          </div>
          <div class="story-i">
           <div class="story-unity-m">
              <h3>Success is a journey, not a destination , doing is always more important than the outcome.</h3>
              <div class="part">
              <div class="par1-i">
              <p>You could start tomorrow, you tell yourself. ‘Tomorrow’ is a comforting friend that promises a fresh start, where your future-self will make a better decision. But first you’ve got to find just the right diet or set up the perfect writing routine. And deep down, you can’t shake that feeling that your future-self would rather go onto the next Netflix episode instead.</p>   
              <p>But here’s where we need to take a step back. When focusing on a big task, it’s easy to think the goal is everything. But it’s not. Because it’s not even about the goal. It’s about the journey.That goal might not be something you can start today. But the journey? That’s something you can start right now. There are improvements you can make to your daily habits, all while putting you on a path to achieving that goal.</p>
              </div>
              <img class=pc12-i src="/images/img-ins/pc1.jpg" alt="" height="300" width="300">
              <img class=pc11-i src="/images/img-ins/pc2.jpg" alt="" height="300" width="300">
              <div class="part2-i">
              <p>Focusing on the journey also shines a light on what else you get out of trying to reach your goals. The trek is where you learn. Where you grow. In some ways, achieving goals is just a by-product of your journey. Yes, you lose weight, but you also walk away with new healthy habits, not to mention the gratifying knowledge that you have what it takes.</p>
              <p>So it turns out that you might not even need to reach your goal to be successful. But what you get out of trying is guaranteed to make an impact. By setting out to achieve a goal, you’re forming new habits, striving towards something bigger than yourself, and imbuing your life with purpose. And no one can take those lessons away.</p>
              </div>
            </div>
           <h1>The point is not to get better than others, it’s always been to get better than the old version of yourself.</h1>
           </div>
        </div>
      </main>
  </body>
</html>