<html>
<head><title>Knowledge Hub </title>
<link rel="stylesheet" href="/stylesheets/design.css">
</head>
<body>
   <div class="lrsl">
<div class="logo">
   <p></p>
   <h1><strong>KNOWLEDGE HUB</strong></h1>
   <p></p>
</div>
<div class="navbar">
 <div class="dropdown">
   <button class="dropbtn">MENU</button>
   <div class="dropdown-content">
     <a href="./myweb">HOME</a>
     <a href="./signup">SIGNUP</a>
     <a href="./login">LOGIN</a>
     <a href="#">ABOUT</a>
   </div>
 </div>
</div>
<div class="thnk">
   <p></p>
   <h2>Hye <%= records.name %> , its been a wonderful  help from yours to get till here and now that you are visiting my initial code along the 1st people , I hope you might give me appropriate suggestions to improvise my work. It would be a great hrlp if you provide me with suitable suggestions for this initial just started website , the repo for the following project will be mailed to your email <%= records.email %> so do kindly visit and contribute to make it better , thanking you!!!</h2>
   <p></p>
</div>
<div class="btn-cntrb">
   <form action="/lrslt" method="post">
      <input type="submit" value="CONTRIBUTORS" class="submit" ></input>
      </form>
      <p></p>
      <div class="snd">
      <input type="submit" value="SUBMIT AN ARTICLE" class="submit" ></input>
      <p></p>
   </div>
      <input type="submit" value="VIEW YOUR ARTICLE" class="submit" ></input>
 </div>
</form>
</div>
</body>
   </html>