<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" href="/stylesheets/design.css">
    <title>Knowledge hub </title>
  </head>
  <body>
      <main>
          <div class="bnr-m">
              <img src="/images/img-mot/bnr.jpg" alt="" >
              <div class=unity-m>
                  <h1>WORK TILL</h1>
                  <h3>YOU GET IT OR LOOSE IT</h3>
              </div>
          </div>
          <div class="story-m">
           <div class="story-unity-m">
              <h3>Your struggle today is your srength tomorrow.</h3>
              <div class="part-m">
              <div class="par1-m">
              <p>A man found a cocoon of a butterfly.One day a small opening appeared. He sat and watched the butterfly for several hours as it struggled to force its body through that little hole.</p>   
              <p>Until it suddenly stopped making any progress and looked like it was stuck.So the man decided to help the butterfly. He took a pair of scissors and snipped off the remaining bit of the cocoon. The butterfly then emerged easily, although it had a swollen body and small, shriveled wings.</p>
              </div>
              <img class=pc12-m src="/images/img-mot/btrfly-1.jpg" alt="" height="240" width="240">
              <img class=pc11-m src="/images/img-mot/btrfly.jpg" alt="" height="240" width="240">
              <div class="part2-m">
              <p>The man didn’t think anything of it and sat there waiting for the wings to enlarge to support the butterfly. But that didn’t happen. The butterfly spent the rest of its life unable to fly, crawling around with tiny wings and a swollen body.</p>
              <p>Despite the kind heart of the man, he didn’t understand that the restricting cocoon and the struggle needed by the butterfly to get itself through the small opening; were God’s way of forcing fluid from the body of the butterfly into its wings. To prepare itself for flying once it was out of the cocoon.</p>
              </div>
            </div>
           <h1 class="moral">Our struggles in life develop our strengths. Without struggles, we never grow and never get stronger, so it’s important for us to tackle challenges on our own, and not be relying on help from others.</h1>
           </div>
        </div>
      </main>
  </body>
</html>