
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/design.css">
    <title>Knowledge hub </title>
  </head>
  <body>
      <div class = "whole">
          <header>
              <div class="logo">
                  <p></p>
                  <h1><strong>KNOWLEDGE HUB</strong></h1>
                  <p></p>
              </div>
              <div class="navbar">
                <div class="dropdown">
                  <button class="dropbtn">MENU</button>
                  <div class="dropdown-content">
                    <a href="./myweb">HOME</a>
                    <a href="./signup">SIGNUP</a>
                    <a href="./login">LOGIN</a>
                    <a href="./logout">LOGOUT</a>
                    <a href="#">ABOUT</a>
                  </div>
                </div>
              </div>
              <p></p>
              <p></p>
              <main>
                  <section class = "home obj">
                      <div  class="dtls">
                          <h1>LETS COME TOGETHER</h1>
                          <p></p>
                          <h1>COZ I FEEL</h1>
                          <p></p>
                          <h2>TOGETHER WE CAN MAKE A DIFFERENCE!!!</h2>
                      </div>
                      <div class="hero">
                        <a href="./obj">
                          <img class="home-left" src = "/images/img-unity/obj-l.jpg" alt="homimg" >
                          <img class="home-right" src = "/images/img-unity/obj-r.jpg" alt="homimg" >
                        </a>
                      </div>
                    </section>
                    <section class = "home mot">
                      <div class="dtls">
                        <h1>NO</h1>
                        <p></p>
                        <h1>PRESSURE</h1>
                        <p></p>
                        <h2>NO DIAMONDS!!!</h2>
                      </div>
                      <div class="hero">
                        <a href="./mot">
                          <img class="home-left" src = "/images/img-mot/mot-l.jpg" alt="homimg" >
                          <img class="home-right" src = "/images/img-mot/mot-r.jpg" alt="homimg" >
                        </a>
                      </div>
                    </section>
                    <section class = "home ins">
                      <div  class="dtls">
                        <h1>WHEN NOTHING</h1>
                        <p></p>
                        <h1>GOES RIGHT</h1>
                        <p></p>
                        <h2>JUST GO LEFT!!!</h2>
                      </div>
                      <div class="hero">
                        <a href="./ins">
                          <img class="home-left" src = "/images/img-ins/ins-l.jpg" alt="homimg" >
                          <img class="home-right" src = "/images/img-ins/ins-r.jpg" alt="homimg" >
                        </a>
                      </div>
                    </section>
                    <section class = "home rol">
                      <div  class="dtls">
                        <h1>SETTING EXAMPLE</h1>
                        <p></p>
                        <h1>IS TRUE </h1>
                        <p></p>
                        <h2>LEADERSHIP AND GUIDANCE!!!</h2>
                      </div>
                      <div class="hero">
                        <a href="./rol">
                          <img class="home-left" src = "/images/img-rol/fml-l.jpg" alt="homimg" >
                          <img class="home-right" src = "/images/img-rol/fml-r.jpg" alt="homimg" >
                        </a>
                      </div>
                    </section>
                    <div class="pages">
                        <div class="page-1">
                            <h3>Objective</h3>
                            <svg
                            class = "btnscrl initial"
                                width="12"
                                height="12"
                                viewBox="0 0 12 12"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                >
                                <circle cx="6" cy="6" r="6" fill="white" />
                            </svg> 
                        </div>
                        <div class="page-2">
                          <h3>Motivation</h3>
                          <svg
                          class = "btnscrl"
                              width="12"
                              height="12"
                              viewBox="0 0 12 12"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                              >
                              <circle cx="6" cy="6" r="6" fill="white" />
                          </svg> 
                      </div>
                      <div class="page-3">
                        <h3>Inspiration</h3>
                        <svg
                        class = "btnscrl"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            >
                            <circle cx="6" cy="6" r="6" fill="white" />
                        </svg> 
                    </div>
                    <div class="page-4">
                      <h3>Role Model</h3>
                      <svg
                      class = "btnscrl"
                          width="12"
                          height="12"
                          viewBox="0 0 12 12"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          >
                          <circle cx="6" cy="6" r="6" fill="white" />
                      </svg> 
                     </div>
                   </div>                
              </main>
          </header>
      </div>
      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
      integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U="
      crossorigin="anonymous"
    ></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
    integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk="
    crossorigin="anonymous"
  ></script>
      <script src="/javascripts/use.js"></script>
  </body>
</html>