<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" href="/stylesheets/design.css">
    <title>Knowledge hub </title>
  </head>
  <body>
      <main>
          <div class="bnr">
              <img src="/images/pc-obj/obj.jpg" alt="">
              <div class=unity>
                  <h1>LETS BE UNITED</h1>
                  <h3>FOR A BETTER US</h3>
              </div>
          </div>
          <div class="story">
           <div class="story-unity">
              <h3>Coming together is a beginning. Keeping together is progress. Working together is success.</h3>
              <div class="part">
              <div class="par1">
              <p>A group of employees was working in a software company. It was a team of 30 employees. This was a young, energetic and dynamic team with keen enthusiasm and desire to learn and grow. The management decided to teach the employees about finding real solution to the problems.</p>   
              <p></p>
              <p>The team was called to play a game in a banquet hall. The group was quite surprised as they were called for playing game. All reached the venue holding various thoughts. As they entered the hall, they found the hall decorated beautifully with colorful decorative papers and balloons all over the place. It was more like a kid’s play area, than a corporate meeting hall.</p>
              <p></p>
              <p>Everyone was surprised and gazed at each other. Also, there was a huge box of balloons placed at the center of the hall.</p>
              <p></p>
              <p>The team leader asked everyone to pick a balloon from the box and asked them to blow it. Every one happily picked a balloon and blew it.</p>
              <p></p>
              <p>Then the team leader asked them to write their names on their balloon, carefully so that the balloons didn’t blow up. All tried to write their names on the balloons, but not everyone was successful. A few balloons blew up due to pressure and they were given another chance to use another balloon.</p>
              </div>
              <img class=pc11 src="/images/pc-obj/1st.jpg" alt="" height="380" width="320">
              <img class=pc12 src="/images/pc-obj/2nd.jpg" alt="" height="380" width="320">
              <div class="part2">
              <p>Those who failed to mark their names even after the second chance were ruled out of the game. After the second chance, 25 employees were qualified for the next level. All the balloons were collected and then put into a room.</p>
              <p>The team leader announced the employees to go to the room and pick the same balloon that had his name on it. Also, he told them that no balloon should blow up and warned them to be very careful!</p>
              <p>All 25 employees reached the room, where the balloons carrying their names were thrown here and there. They were searching for the respective balloons carrying their names. While they were in a rush to find the respective balloons, they tried not to burst the balloons. It was almost 15 minutes and no one was able to find the balloon carrying his own name.</p>
              <p>The team was told that the second level of the game was over.</p>
              <p>Now it is the third and final level. They asked the employees to pick any balloon in the room and give it to the person named on the balloon. Within a couple of minutes all balloons reached the hands of the respective employee and everyone reached the hall.</p>
              <p>The team leader announced; this is called real solutions to the problems. Everyone is frantically hunting for solutions to the problems without understanding the ideal ways.</p>
              </div>
            </div>
           <h1 class="moral">Many times, sharing and helping others give you real solutions to all problems. Help out each other to ease things.</h1>
           </div>

        </div>
      </main>
  </body>
</html>