<html>
<head><title>Knowledge Hub </title>
<link rel="stylesheet" href='/stylesheets/design.css'>
</head>
<body>
    <h3><strong>NOBODY PROVIDES IT BETTER BUT</strong></h3>
<div class="logo">
<img src="./images/logo2.PNG" alt="logo2.PNG" height="300" width="400">
</div>
<div class="slider"></div>

<ul class="nav" style=" margin-right: 85%; margin-top: 20px;" >
   <li class="new">
      <a class="nav" href="./myweb"><strong>HOME</strong></a>
   </li>
   <li class="new">
      <a class="nav" href="./login"><strong>LOGIN</strong></a>
   </li>
   <li class="new">
      <a class="nav" href="./signup"><strong>SIGNUP</strong></a>
   </li>
   <li class="new">
      <a class="nav disable" href="./profile" tabindex="-1" aria-disabled="true"><strong>PROFILE</strong></a>
   </li>
</ul> 
<form  action="/profile" method="post" role= "form" enctype="multipart/form-data" style ="margin-left: 30%; margin-right: 30%;">
    <div class="form-group">
      <input type="file" value="file">
    </div>
    <input type="submit" value="UPLOAD" class="submit" ></input>
  </form>
</body>
</html>