<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" href="/stylesheets/design.css">
    <title>Knowledge hub </title>
  </head>
  <body>
      <main>
          <div class="bnr-m">
              <img src="/images/img-rol/bnr.jpg" alt="" >
              <div class=rol-t>
                  <h1>CHOOSE A ROLE MODEL</h1>
                  <h3>WHO DOESNT TELL BUT SHOW</h3>
              </div>
          </div>
          <div class="story-r">
           <div class="story-unity-r">
              <h3>Success is a journey, not a destination , doing is always more important than the outcome.</h3>
              <div class="part">
              <div class="par1">
              <p>Parents serve as role models not only through direct interactions with their children, but through the examples they set with their attitude and behavior within the family and in the outside world. By addressing their concerns, sharing their lives, and maintaining a constructive perspective, parents can contibute to their children's personal growth and development .</p>   
              <p>Role models are often subjects of admiration and emulation. Through their personal qualities and achievements, they can inspire others to strive and develop without direct instruction. Due to their regular presence and interaction with their children, parents can serve as consistent and evolving role models for their children. The child development experts at the PBS Parents website note that parents can be role models for learning by integrating what school-age children have already learned into daily life.</p>
              </div>
              <img class=pc12-r src="/images/img-rol/pc1.jpg" alt="" height="300" width="300">
              <img class=pc11-r src="/images/img-rol/pc2.jpg" alt="" height="300" width="300">
              <div class="part2-r">
              <p>My father goes to office, but still does not forget to help me with my studies. They always encourage me in every aspect and motivate me even when I do not succeed.My mother always smiles, no matter what the circumstances are and that gives me the strength and inspiration to face all problems.My parents have made me understand what life is about and how to find that little ray of happiness in difficult situations.</p>
              <p>What I am today and what I will become in future involves the support and affection of my parents. They have made me disciplined, dedicated and sincere.A role model does not have to be a famous personality. It can be anyone who makes us believe in ourselves. My parents fill sweetness in my life. From childhood I have learnt everything from my parents.They have turned me into a fighter in the war of life.</p>
              </div>
            </div>
           <h1>We all are great imitators, so our role models our parents give them something great to imitate.</h1>
           </div>
        </div>
      </main>
  </body>
</html>