<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/signdes.css">
    <title>Knowledge hub </title>
  </head>
  <body>
      <div class="lgn">
          <header>
              <div class="logo">
                  <p></p>
                  <h1><strong>KNOWLEDGE HUB</strong></h1>
                  <p></p>
              </div>
              <div class="navbar">
                <div class="dropdown">
                  <button class="dropbtn">MENU</button>
                  <div class="dropdown-content">
                    <a href="./myweb">HOME</a>
                    <a href="./signup">SIGNUP</a>
                    <a href="./login">LOGIN</a>
                    <a href="#">ABOUT</a>
                  </div>
                </div>
              </div>
              <% if (success !='') { %>
                <div class="alert alert-primary" role="alert">
             <strong><%= success %></strong>
                 </div>
             <% } %>
              <div class = "logwh">
              <form action="/signup" method="post">
                <h3><strong>SIGN UP</strong></h3>
                <input type="text" name="name" required placeholder="NAME"/>
                <input type="email" name="email" required placeholder="EMAIL"/>
                <input type="text" name="cno" required placeholder="CONTACT NUMBER"/>
                <input type="text" name="dob" required placeholder="DOB(ddmmyyyy)"/>
                <input type="password" name="password" required placeholder="PASSWORD"/>
                <input type="password" name="cpassword" required placeholder="CONFIRM PASSWORD"/>
                <input type="submit" value="REGISTER" class="submit" >
                <p>ALREADY OUR MEMBER , <a href="./login"><p></p>LOGIN</a></p>
               </form>
              </div>
          </header>
      </div>
  </body>
</html>